@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

*{
    user-select: none;
}

#mainFrame{
    background-position: center;
    background-repeat: no-repeat;
    transition: width 1s ease, height 1s ease;
    position: relative;
}

#widthHeight{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3pc;
    position: absolute;
    right: 0px;
    bottom: 0;
    border: 0.3px solid rgba(255, 255, 255, 0.3);
    padding: 1%;
    border-bottom: 0;
    border-right: 0;
    border-top-left-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

#controller{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    position: relative;
}

table{
    padding: 0 5%;
}

td:nth-child(1){
    font-size: 3pc;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    text-shadow: 2px 2px 5px red;
}
td:nth-child(3){
    font-size: 3pc;
    font-family: 'Tangerine', cursive;
    font-weight: 900;
    text-shadow: 2px 2px 5px red;
}

#aboveContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#aboveContainer i{
    font-size: 75px;
    color: green;
    background: white;
    background-blend-mode: multiply;
    border-radius: 50%;
}

::-webkit-scrollbar{
    display: none;
}